In [1]:
2+2

4

In [2]:
import os
os.getcwd()

'd:\\Faisal\\Projects\\e_t_e_pro'

In [ ]:
for file in list_of_components:

    filepath = dir_file + file
    whole_path = Path(filepath) 
    dir_path, file_name = os.path.split(whole_path)

    os.makedirs(dir_path,exist_ok=True)

    if os.path.exists(filepath):
        pass

    if (not os.path.exists(filepath)):
        with open(filepath, 'w') as f:
            pass

In [3]:
with open("fff.txt", 'w') as f:
    f1 = f.write("This is 1 \nThis is 2")

In [7]:
with open("fff.txt", 'r') as ff:
    fr = ff.readlines()
    print(fr)

['This is 1 \n', 'This is 2']

In [10]:
import os
[print(p) for p in os.environ['PATH'].split(';')]

d:\Faisal\Projects\e_t_e_pro\myenv_end
d:\Faisal\Projects\e_t_e_pro\myenv_end\Library\mingw-w64\bin
d:\Faisal\Projects\e_t_e_pro\myenv_end\Library\usr\bin
d:\Faisal\Projects\e_t_e_pro\myenv_end\Library\bin
d:\Faisal\Projects\e_t_e_pro\myenv_end\Scripts
d:\Faisal\Projects\e_t_e_pro\myenv_end\bin
C:\Windows\system32
C:\Windows
C:\Windows\System32\Wbem
C:\Windows\System32\WindowsPowerShell\v1.0
C:\Windows\System32\OpenSSH
C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common
C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR
C:\WINDOWS\system32
C:\WINDOWS
C:\WINDOWS\System32\Wbem
C:\WINDOWS\System32\WindowsPowerShell\v1.0
C:\WINDOWS\System32\OpenSSH
C:\Program Files\Git\cmd
C:\Anaconda\package\condabin
C:\Program Files\MySQL\MySQL Shell 8.0\bin
C:\Users\solat\AppData\Local\Programs\Python\Python311
C:\Users\solat\AppData\Local\Microsoft\WindowsApps
C:\Anaconda\package\condabin
.

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [13]:
! pip install pandas

Requirement already satisfied: pandas in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages\pandas-2.1.2-py3.9-win-amd64.egg (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages\numpy-1.26.1-py3.9-win-amd64.egg (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages\pytz-2023.3.post1-py3.9.egg (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages\tzdata-2023.3-py3.9.egg (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\faisal\projects\e_t_e_pro\myenv_end\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

import mysql.connector as conn
def gg():
    mydb = conn.connect(
        host = "localhost",
        user = "root",
        password = "mysqlone1@@@*",
        database = "anime"
        )


    # cur = mydb.cursor()
    # cur.execute("select * from anime_characters")
    # a = cur.fetchall()
    # return a 
    df = pd.read_sql_query("select * from anime_characters", mydb)
    return df

gg()

C:\Users\solat\AppData\Local\Temp\ipykernel_25536\14503556.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from anime_characters", mydb)

     name              power    anime
0    goku                MUI      DBZ
1   gohan              beast      DBZ
2  vegeta  super saiyan blue      DBZ
3    eren              titan      AOT
4  naruto         nine tails  UZUMAKI
5  sasuke          sharingan   UCHIHA

In [3]:
dff = gg()
type(dff)

C:\Users\solat\AppData\Local\Temp\ipykernel_25536\14503556.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from anime_characters", mydb)

pandas.core.frame.DataFrame

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest = train_test_split(dff,test_size=0.1,random_state=1)
xtrain

     name       power    anime
1   gohan       beast      DBZ
4  naruto  nine tails  UZUMAKI
0    goku         MUI      DBZ
3    eren       titan      AOT
5  sasuke   sharingan   UCHIHA

In [16]:
# xtrain.to_csv("cccvvv.csv")

In [1]:
import sqlite3
sqlite3.__file__
sqlite3.version

'2.6.0'

In [9]:
import numpy as np
dff["numbers"] = [1554,134564,48521,20013,np.nan,96250]
dff

     name              power    anime   numbers
0    goku                MUI      DBZ    1554.0
1   gohan              beast      DBZ  134564.0
2  vegeta  super saiyan blue      DBZ   48521.0
3    eren              titan      AOT   20013.0
4  naruto         nine tails  UZUMAKI       NaN
5  sasuke          sharingan   UCHIHA   96250.0

In [10]:
ord_code = ["beast", "MUI","super saiyan blue","nine tails", "sharingan", "titan"]

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer 
from sklearn.pipeline import Pipeline
from src.exception import CustomException
import sys
import os

In [ ]:
def one_shot():

    try:  
        cat_features = ["anime"]
        cat_imputer = Pipeline(steps=[
            ("cat_imputer", SimpleImputer(strategy="constant", fill_value="missing")),
            ("One_Hot", OneHotEncoder(handle_unknown="ignore"))
        ])

        num_features = ["numbers"]
        num_imputer = Pipeline(steps=[
            ("num_imputer", SimpleImputer(strategy="median"))
        ])

        ordinal_features = ["power"]
        ordinal_imputer = Pipeline(steps=[
            ("Ordinal_imputer", OrdinalEncoder(categories=ord_code))
        ])

        preprocessor = ColumnTransformer(transformers=[
            ("cat_imputer", cat_imputer, cat_features),
            ("num_imputer", num_imputer,num_features),
            ("Ordinal", ordinal_imputer,ordinal_features)
        ],remainder="passthrough")

        return preprocessor

    except Exception as e:
        raise CustomException(e,sys)